/CTIS210Lab5/nbproject/private/
/CTIS210Lab4/nbproject/private/
/CTIS210Lab4/build/
/CTIS210Lab5/build/
/CTIS210Lab6/nbproject/private/
/CTIS210Lab6/build/
/CTIS210FinalProject
/CTIS210Exam1/CTIS210Exam1Fall21Errors/nbproject/private/
/CTIS210Exam1/CTIS210Exam1Fall21Errors/build/
/CTIS210Exam1/CTIS210Exam1Fall21CodeWriting/nbproject/private/
/CTIS210Exam1/CTIS210Exam1Fall21CodeWriting/build/
/SelfDrivingCar/nbproject/private/
/CTIS210FinalProject/nbproject/private/
/CTIS210Lab7/nbproject/private/
/CTIS210Lab7/build/
/Sandbox/dist/
/CTIS210Lab8/PositionApplicantProject/nbproject/private/
/CTIS210Lab8/PositionApplicantProject/build/
/CTIS210Lab9/BooleanExpressionLab/nbproject/private/
/CTIS210Lab9/BooleanExpressionLab/build/
/CTIS210Lab9/PositionApplicantProject/build/
/CTIS210Lab9/PositionApplicantProject/nbproject/private/
/CTIS210Lab9/BooleanExpressionLab/dist/
/CTIS210Lab10/ApplicantEvaluation/nbproject/private/
/CTIS210Lab10/ApplicantEvaluation/build/
/CTIS210Lab10/ApplicantEvaluationGUI/nbproject/private/
/CTIS210Lab11/ApplicantEvaluationGUI/nbproject/private/
/CTIS210Lab11/ApplicantEvaluationGUI/build/
